html, body, div, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav{
	color:rgba(20, 20, 53, 0.65);
	background-color:rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
}

	nav .logo{
		color:rgba(20, 20, 53, 0.85);
		height: 80px;
		background-size: 80px;
		background-image: url('../image/logo_sidebar.png');
		background-position: center center;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		display: grid;
		place-items: center;
		margin-top: 10pt;
	}

	nav .navigator{
		margin-top: 0;
	}

	nav ul {
		list-style: none;
		padding-left: 1em;
		margin-bottom: 0;
		color: rgba(255, 255, 255, 0.5);
		background: rgba(0, 0, 0, 0.15);
	}

		nav ul li {
			border-bottom: 2px solid rgba(0, 0, 0, 0.5);
		}
			nav ul li a {
				display: block;
				padding: 0.5em 1.5em 0.5em 1.5em;
				color: rgba(255, 255, 255, 0.5);
				text-decoration: none;
				outline: 0;
				border: 0;
				transition: none;
			}

	nav .footer{
		margin-bottom: 1em;
		position: absolute;
		bottom: 0;
	}
	
main{
	margin-left: 200px;
	background-color:#f5fafa;

}
	main p {
		padding-left: 20px;
	}

	table{
		width: 100%;
		border-collapse:separate;
		border-spacing: 0;
	}
	
	table th:first-child{
		border-radius: 5px 0 0 0;
	}
	
	table th:last-child{
		border-radius: 0 5px 0 0;
		border-right: 1px solid #3c6690;
	}
	
	table th{
		text-align: center;
		color:white;
		background: linear-gradient(#829ebc,#225588);
		border-left: 1px solid #3c6690;
		border-top: 1px solid #3c6690;
		border-bottom: 1px solid #3c6690;
		box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
		width: 25%;
		padding: 10px 0;
	}
	
	table td{
		text-align: center;
		border-left: 1px solid #a8b7c5;
		border-bottom: 1px solid #a8b7c5;
		border-top:none;
		box-shadow: 0px -3px 5px 1px #eee inset;
		width: 25%;
		padding: 10px 0;
	}
	
	table td:last-child{
		border-right: 1px solid #a8b7c5;
	}
	
	table tr:last-child td:first-child {
		border-radius: 0 0 0 5px;
	}
	
	table tr:last-child td:last-child {
		border-radius: 0 0 5px 0;
	}
