html, body, div, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav{
	color:rgba(20, 20, 53, 0.65);
	background-color:rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
}

	nav .logo{
		color:rgba(20, 20, 53, 0.85);
		height: 80px;
		background-size: 80px;
		background-image: url('../image/logo_sidebar.png');
		background-position: center center;
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		display: grid;
		place-items: center;
		margin-top: 10pt;
	}

	nav .navigator{
		margin-top: 0;
	}

	nav ul {
		list-style: none;
		padding-left: 1em;
		margin-bottom: 0;
		color: rgba(255, 255, 255, 0.5);
		background: rgba(0, 0, 0, 0.15);
	}

		nav ul li {
			border-bottom: 2px solid rgba(0, 0, 0, 0.5);
		}
			nav ul li a {
				display: block;
				padding: 0.5em 1.5em 0.5em 1.5em;
				color: rgba(255, 255, 255, 0.5);
				text-decoration: none;
				outline: 0;
				border: 0;
				transition: none;
			}

	nav .footer{
		margin-bottom: 1em;
		position: absolute;
		bottom: 0;
	}
	
main{
	margin-left: 200px;
	background-color:#f5fafa;

}
	main p {
		padding-left: 20px;
	}

table {
	border: #3231357c;
}
	table td {
		background-color: #fff5ee;
	}
	table tr:nth-child(odd) td{
		background-color: #f0eeffde;
}

