html, body, div{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#sidebar{
	
    background-color:rgba(0, 0, 0, 0.5);
}

#content{
	margin-left: 400px;
    background-color:#f5fafa;

}