<head>
	<meta charset="UTF-8">
	<link rel=”shortcut icon” href={{url_for('static', filename='image/favicon.ico')}} />
	<link rel="stylesheet" href={{url_for('static', filename='css/main.css')}}>
	<title>{{title}}</title>
	<script type="text/javascript">
		var email = "{{params['email']}}";
		var role = "{{params['role']}}";
		var full_name = "{{params['full_name']}}";
		var company_id = "{{params['company_id']}}";
		var company_name = "{{params['company_name']}}";
		var company_plan = "{{params['company_plan']}}";
	</script>
	<script src={{url_for('static', filename='js/pendo_agent.js')}}></script>
</head>
