{% extends "common/framework.html" %}
{% block body %}
	<section id="approve_list">
		<h2>レポート リスト</h2>
		<form id="form_approve_list">
			<table>
				<caption>承認待ちレポート</caption>
				<tr>
					<th></th>
					<th>レポート名</th>
					<th>ステータス</th>
				</tr>
				{% for report in reports_submitted %}
				<tr>
					<td><input type="radio" name="id" value="{{report['id']}}" required></td>
					<td>{{report['name']}}</td>
					<td>{{report['status']}}</td>
				</tr>
				{% endfor %}
			</table>
			<table>
				<caption>承認済みレポート</caption>
				<tr>
					<th></th>
					<th>レポート名</th>
					<th>ステータス</th>
				</tr>
				{% for report in reports_approved %}
				<tr>
					<td></td>
					<td>{{report['name']}}</td>
					<td>{{report['status']}}</td>
				</tr>
				{% endfor %}
			</table>
		</form>
		<button type="submit" form="form_approve_list" formaction="../approve_report" formmethod="post">レポート承認</button>
		<button type="submit" form="form_approve_list" formaction="../approve_list_html">一覧へ戻る</button>
	</section>
{% endblock %}