{% extends "common/framework.html" %}
{% block body %}
	<section id="employee_list">
		<h2>メンバー リスト</h2>
		<div>
			<a href="../employee_new_html">
				<button type="button">メンバー追加</button>
			</a>
		</div>
		<form id="form_employee_list">
			<table>
				<tr>
					<th></th>
					<th>メンバー名</th>
					<th>メールアドレス</th>
					<th>ロール</th>
				</tr>
				{% for employee in employees %}
				<tr>
					<td><input type="radio" name="id" value="{{employee['id']}}" required></td>
					<td>{{get_fullname(employee['first_name'], employee['last_name'])}}</td>
					<td>{{employee['email']}}</td>
					<td>{{employee['role']}}</td>
				</tr>
				{% endfor %}
			</table>
		</form>
		<button type="submit" form="form_employee_list" formaction="../employee_detail_html" formmethod="post">詳細表示</button>
	</section>
{% endblock %}