{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_EMPLOYEE_DETAIL')}}</h1>
<article id="employee_detail">
	<form id="form_employee_detail">
		<p>{{get_text('LABEL_MAIN_LAST_NAME')}}:<input name="last_name" type="text" value="{{employee['last_name']}}" required></p>
		<p>{{get_text('LABEL_MAIN_FIRST_NAME')}}:<input name="first_name" type="text" value="{{employee['first_name']}}" required></p>
		<p>{{get_text('LABEL_MAIN_EMAIL')}}:<input name="email" type="text" value="{{employee['email']}}" required></p>
		<p>{{get_text('LABEL_MAIN_PASSWORD')}}:<input name="password" type="text" value="{{employee['password']}}" required></p>
		<p>{{get_text('LABEL_MAIN_ROLE')}}:
			<select name="role">
				{% for role in role_list %}
					{% if role == employee['role'] %}
						<option value="{{role}}" selected>{{get_text(role)}}</option>
					{% else %}
						<option value="{{role}}">{{get_text(role)}}</option>
					{% endif %}
				{% endfor %}
			</select>	
		</p>
		<input type="hidden" name="id" value="{{employee['id']}}">
	</form>
	<div>
		<button type="submit" form="form_employee_detail" formaction="../update_employee" formmethod="post">{{get_text('BUTTON_UPDATE')}}</button>
		<button onclick="location.href='../employee_list_html'">{{get_text('BUTTON_BACK_TO_LIST')}}</button>
	</div>
	<div>
		<button type="submit" form="form_employee_detail" formaction="../delete_employee" formmethod="post">{{get_text('BUTTON_DELETE')}}</button>
	</div>
</article>
{% endblock %}