{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_EMPLOYEE_LIST')}}</h1>
<article id="employee_list">
	<div>
		<button class="button_motion" onclick="location.href='../employee_new_html'">
			<span>{{get_text('BUTTON_ADD_EMPLOYEE')}}</span>
		</button>
	</div>
	{% if employees %}
	<form id="form_employee_list">
		<table>
			<tr>
				<th></th>
				<th>{{get_text('LABEL_MAIN_FULLNAME')}}</th>
				<th>{{get_text('LABEL_MAIN_EMAIL')}}</th>
				<th>{{get_text('LABEL_MAIN_ROLE')}}</th>
			</tr>
			{% for employee in employees %}
			<tr>
				<td><input type="radio" name="id" value="{{employee['id']}}" required></td>
				<td>{{get_fullname(employee['first_name'], employee['last_name'])}}</td>
				<td>{{employee['email']}}</td>
				<td>{{get_text(employee['role'])}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	<button class="button_motion" id="button_employee_detail" type="submit" form="form_employee_list" formaction="../employee_detail_html" formmethod="post">
		<span>{{get_text('BUTTON_SHOW_DETAIL')}}</span>
	</button>
	{% endif %}
</article>
{% endblock %}