{% extends "common/framework.html" %}
{% block body %}
	<section id="employee_detail">
		<form id="form_employee_detail">
			<p>姓：<input name="last_name" type="text" value="{{employee['last_name']}}" required></p>
			<p>名：<input name="first_name" type="text" value="{{employee['first_name']}}" required></p>
			<p>メールアドレス：<input name="email" type="text" value="{{employee['email']}}" required></p>
			<p>パスワード：<input name="password" type="text" value="{{employee['password']}}" required></p>
			<p>ロール：
				<select name="role">
					{% for role in get_roles() %}
						{% if role == employee['role'] %}
							<option value="{{role}}" selected>{{role}}</option>
						{% else %}
							<option value="{{role}}">{{role}}</option>
						{% endif %}
					{% endfor %}
				</select>	
			</p>
			<input type="hidden" name="id" value="{{employee['id']}}">
		</form>
		<div>
			<button type="submit" form="form_employee_detail" formaction="../update_employee" formmethod="post">更新</button>
			<a href="../employee_list_html">
				<button type="button">一覧へ戻る</button>
			</a>
		</div>
		<div>
			<button type="submit" form="form_employee_detail" formaction="../delete_employee" formmethod="post">削除</button>
		</div>
	</section>
{% endblock %}