{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_EXPENSE_LIST')}}</h1>
<article id="expense_list">
	<button class="button_motion" id="button_create_expense" onclick="location.href='../expense_new_html'">
		<span>{{get_text('BUTTON_NEW_EXPENSE')}}</span>
	</button>
	{% if expenses %}
	<h2>{{get_text('LABEL_MAIN_EXPENSE_NOT_IN_REPORT')}}</h2>
	<form id="form_expense_list">
		<table>
			<tr>
				<th></th>
				<th>{{get_text('LABEL_MAIN_EXPENSE_NAME')}}</th>
				<th>{{get_text('LABEL_MAIN_DATE')}}</th>
				<th>{{get_text('LABEL_MAIN_AMOUNT_MONEY')}}</th>
				<th>{{get_text('LABEL_MAIN_DESCRIPTION')}}</th>
			</tr>
			{% for expense in expenses %}
			<tr>
				<td><input type="radio" name="id" value="{{expense['id']}}" required></td>
				<td>{{expense['name']}}</td>
				<td>{{expense['date']}}</td>
				<td>{{get_currency_expression(expense['amount'], get_text(expense['currency']))}}</td>
				<td>{{expense['description']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	<button class="button_motion" id="button_expense_detail" type="submit" form="form_expense_list" formaction="../expense_detail_html" formmethod="post">
		<span>{{get_text('BUTTON_SHOW_DETAIL')}}</span>
	</button>
	{% endif %}
</article>
{% endblock %}