{% extends "framework.html" %}
{% block body %}
	<section id="expense_list">
		<form action="../expense_new_html" method="post">
			<input type="submit" value="新規経費">
		</form>
		<h2>経費リスト</h2>
		<form action="../expense_edit_html" method="post">
			<table>
				<tr>
					<th>経費名</th>
					<th>日付</th>
					<th>金額</th>
					<th>説明</th>
				</tr>
				{% for expense in expenses %}
				<tr>
					<td><input type="radio" name="id" value="{{expense['id']}}"></td>
					<td>{{expense['name']}}</td>
					<td>{{expense['date']}}</td>
					<td>{{expense['currency']}} {{expense['amount']}}</td>
					<td>{{expense['description']}}</td>
				</tr>
				{% endfor %}
			</table>
			<button type="submit">変更</button>
		</form>
	</section>
{% endblock %}