{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_EXPENSE_NEW')}}</h1>
<article id="expense_new">
	<form id="form_expense_new" enctype="multipart/form-data">
		<p>{{get_text('LABEL_MAIN_EXPENSE_NAME')}}:<input name="name" type="text" required></p>
		<p>{{get_text('LABEL_MAIN_DATE')}}:<input name="date" type="date" required></p>
		<p>{{get_text('LABEL_MAIN_CURRENCY')}}:
			<select name="currency">
				{% for currency in currency_list %}
					{% if currency == default_currency%}
					<option value="{{currency}}" selected>{{get_text(currency)}}</option>
					{% else %}
					<option value="{{currency}}">{{get_text(currency)}}</option>
					{% endif %}
				{% endfor %}
			</select>	
		</p>
		<p>{{get_text('LABEL_MAIN_AMOUNT_MONEY')}}:<input name="amount" type="number" required></p>
		<p>{{get_text('LABEL_MAIN_DESCRIPTION')}}:<input name="description" type="text"></p>
		<p>{{get_text('LABEL_MAIN_RECEIPT_IMAGE')}}:<input name="receipt_image" type="file" accept="image/*, .pdf"></p>
	</form>
	<button class="button_motion" id="button_create_expense" type="submit" form="form_expense_new" formaction="../create_expense" formmethod="post">
		<span>{{get_text('BUTTON_CREATE')}}</span>
	</button>
	<button class="button_motion" id="button_list_expense" onclick="location.href='../expense_list_html'">
		<span>{{get_text('BUTTON_BACK_TO_LIST')}}</span>
	</button>
</article>
{% endblock %}