<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href={{url_for('static', filename='css/main.css')}}>
	<title>Pendoデモ 経費精算 メイン画面</title>
	<script type="text/javascript">
		var email = "{{params['email']}}";
		var role = "{{params['role']}}";
		var full_name = "{{params['full_name']}}";
		var company_id = "{{params['company_id']}}";
		var company_name = "{{params['company_name']}}";
		var company_plan = "{{params['company_plan']}}";
	</script>
	<script src={{url_for('static', filename='js/pendo_agent.js')}}></script>
</head>
<body>
	<nav">
		<div id="logo">

		</div>
		<div id="navigator">
			<ul>
				<li><a href={{url_for('html_expense')}}>経費</a></li>
				<li><a href={{url_for('html_expense')}}>レポート</a></li>
				<li><a href={{url_for('logout')}}>ログアウト</a></li>
			</ul>
		</div>
	</nav>
	<section id="expense_list">
		<form action="../html_expense_new" method="post">
			<input type="submit" value="新規経費">
		</form>
		<h2>経費リスト</h2>
		<form action="../html_expense_edit" method="post">
			<table>
				<tr>
					<th>経費名</th>
					<th>日付</th>
					<th>金額</th>
					<th>説明</th>
				</tr>
				{% for expense in expenses %}
				<tr>
					<td><input type="radio" name="id" value="{{expense['id']}}"></td>
					<td>{{expense['name']}}</td>
					<td>{{expense['date']}}</td>
					<td>{{expense['currency']}} {{expense['amount']}}</td>
					<td>{{expense['description']}}</td>
				</tr>
				{% endfor %}
			</table>
			<button type="submit">変更</button>
		</form>
	</section>
</body>
</html>