<!DOCTYPE html>
<html>
{% include "header.html" %}
<body>
	<nav>
		<div id="logo">

		</div>
		<div id="navigator">
			<ul>
				<li><a href={{url_for('html_expense')}}>経費</a></li>
				<li><a href={{url_for('html_expense')}}>レポート</a></li>
				<li><a href={{url_for('logout')}}>ログアウト</a></li>
			</ul>
		</div>
	</nav>
	<section id="expense_list">
		<form action="../html_expense_new" method="post">
			<input type="submit" value="新規経費">
		</form>
		<h2>経費リスト</h2>
		<form action="../html_expense_edit" method="post">
			<table>
				<tr>
					<th>経費名</th>
					<th>日付</th>
					<th>金額</th>
					<th>説明</th>
				</tr>
				{% for expense in expenses %}
				<tr>
					<td><input type="radio" name="id" value="{{expense['id']}}"></td>
					<td>{{expense['name']}}</td>
					<td>{{expense['date']}}</td>
					<td>{{expense['currency']}} {{expense['amount']}}</td>
					<td>{{expense['description']}}</td>
				</tr>
				{% endfor %}
			</table>
			<button type="submit">変更</button>
		</form>
	</section>
</body>
</html>