{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_EXPENSE_DETAIL')}}</h1>
<article id="expense_detail">
	<form id="form_expense_detail">
		<p>{{get_text('LABEL_MAIN_EXPENSE_NAME')}}:<input name="name" type="text" value="{{expense['name']}}" required></p>
		<p>{{get_text('LABEL_MAIN_DATE')}}:<input name="date" type="date" value="{{expense['date']}}" required></p>
		<p>{{get_text('LABEL_MAIN_CURRENCY')}}:
			<select name="currency">
				{% for currency in currency_list %}
					{% if currency == expense['currency'] %}
					<option value="{{currency}}" selected>{{get_text(currency)}}</option>
					{% else %}
					<option value="{{currency}}">{{get_text(currency)}}</option>
					{% endif %}
				{% endfor %}
			</select>	
		</p>
		<p>{{get_text('LABEL_MAIN_AMOUNT_MONEY')}}:<input name="amount" type="number" value="{{expense['amount']}}" required></p>
		<p>{{get_text('LABEL_MAIN_DESCRIPTION')}}:<input name="description" type="text" value="{{expense['description']}}"></p>
		<input type="hidden" name="id" value="{{expense['id']}}">
		<input type="hidden" name="receipt_image" value="{{expense['receipt_image']}}">
	</form>
	<form id="form_receipt_image" enctype="multipart/form-data">
	{% if expense['receipt_image'] %}
	<p>{{get_text('LABEL_MAIN_RECEIPT_IMAGE')}}:</p>
	<p>
		<img src="/static/images/receipt/{{expense['receipt_image']}}" />
		<button class="button_motion" id="buttun_delete_receipt_image" type="submit" form="form_receipt_image" formaction="../delete_receipt_image" formmethod="post">
			<span>{{get_text('BUTTON_DELETE_RECEIPT_IMAGE')}}</span>
		</button>
		<input type="hidden" name="receipt_image" value="{{expense['receipt_image']}}">
	</p>
	{% else %}
	<p>{{get_text('LABEL_MAIN_RECEIPT_IMAGE')}}:<input id="input_uploaded_file" name="new_receipt_image" type="file" accept="image/*"></p>
	<p>
		<button class="button_motion" id="buttun_update_receipt_image" type="submit" form="form_receipt_image" formaction="../update_receipt_image" formmethod="post">
			<span>{{get_text('BUTTON_UPDATE_RECEIPT_IMAGE')}}</span>
		</button>
	</p>
	<script>
		const max_size = 1024 * 1024 * 2;　// maximum size of file is 2MB
		const uploaded_file = document.getElementById("input_uploaded_file");
		const checkFileSize = () => {
			if (uploaded_file.files[0].size > max_size) {
				alert("{{get_text('MSG_TOO_LARGE_FILE')}}");
				uploaded_file.value = '';
				return;
			}
		}
		uploaded_file.addEventListener("change", checkFileSize);
	</script>
	{% endif %}
	<input type="hidden" name="id" value="{{expense['id']}}">
	</form>
	<form id="empty_form"></form>
	<div>
		<button class="button_motion" id="button_update_expense" type="submit" form="form_expense_detail" formaction="../update_expense" formmethod="post">
			<span>{{get_text('BUTTON_UPDATE')}}</span>
		</button>
		<button class="button_motion" id="button_list_expense" onclick="location.href='../expense_list_html'">
			<span>{{get_text('BUTTON_BACK_TO_LIST')}}</span>
		</button>
	</div>
</article>
{% endblock %}