{% extends "common/framework.html" %}
{% block body %}
	<article id="expense_new">
		<form id="form_expense_new">
			<p>経費名：<input name="name" type="text" required></p>
			<p>日付：<input name="date" type="date" required></p>
			<p>通貨：<input name="currency" type="text" required></p>
			<p>金額：<input name="amount" type="number" required></p>
			<p>説明：<input name="description" type="text"></p>
		</form>
		<button type="submit" form="form_expense_new" formaction="../create_expense" formmethod="post">作成</button>
	</article>
{% endblock %}