{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_EXPENSE_LIST')}}</h1>
<article id="expense_list">
	<button onclick="location.href='../expense_new_html'">{{get_text('BUTTON_NEW_EXPENSE')}}</button>
	<form id="form_expense_list">
		<table>
			<tr>
				<th></th>
				<th>{{get_text('LABEL_MAIN_EXPENSE_NAME')}}</th>
				<th>{{get_text('LABEL_MAIN_DATE')}}</th>
				<th>{{get_text('LABEL_MAIN_AMOUNT_MONEY')}}</th>
				<th>{{get_text('LABEL_MAIN_DESCRIPTION')}}</th>
			</tr>
			{% for expense in expenses %}
			<tr>
				<td><input type="radio" name="id" value="{{expense['id']}}" required></td>
				<td>{{expense['name']}}</td>
				<td>{{expense['date']}}</td>
				<td>{{get_currency_expression(expense['amount'], get_text(expense['currency']))}}</td>
				<td>{{expense['description']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	<button type="submit" form="form_expense_list" formaction="../expense_detail_html" formmethod="post">{{get_text('BUTTON_SHOW_DETAIL')}}</button>
</article>
{% endblock %}