<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href={{url_for('static', filename='css/main.css')}}>
	<title>Pendoデモ 経費精算 メイン画面</title>
	<script type="text/javascript">
		var email = '{{email}}';
		var role = '{{role}}';
		var full_name = '{{full_name}}';
		var company_id = '{{company_id}}';
		var company_name = '{{company_name}}';
		var company_plan = '{{company_plan}}';
	</script>
	<script src={{url_for('static', filename='js/pendo_agent.js')}}></script>
</head>
<body>
	<div id="sidebar">
		<div id="logo">

		</div>
		<div id="navigator">
			<ul>
				<li><a href={{url_for('expense')}}>経費</a></li>
				<li><a href={{url_for('expense')}}>レポート</a></li>
				<li><a href={{url_for('logout')}}>ログアウト</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<p>アイテム1</p>
		<p>アイテム2</p>
		<p>アイテム3</p>
		<p>アイテム4</p>
	</div>
</body>
</html>