<!DOCTYPE html>
<html>
{% include "header.html" %}
<body>
	<nav>
		<div id="logo">

		</div>
		<div id="navigator">
			<ul>
				<li><a href="{{url_for('expense_html')}}">経費</a></li>
				<li><a href="{{url_for('expense_html')}}">レポート</a></li>
				<li><a href="{{url_for('logout')}}">ログアウト</a></li>
			</ul>
		</div>
	</nav>
	<section id="content">
		<div id="report_list">
			{% for report in reports %}
			<tr>
				<td>xxx@aaa.com</td>
				<td>aaaa</td>
				<td>10,000</td>
			</tr>
			{% endfor %}
		</div>
	</section></body>
</html>