{% extends "common/framework.html" %}
{% block body %}
	<article id="report_list">
		<a href="../report_new_html">
			<button type="button">新規レポート</button>
		</a>
		<h2>レポート リスト</h2>
		<form id="form_report_list">
			<table>
				<tr>
					<th></th>
					<th>レポート名</th>
					<th>提出日</th>
					<th>承認日</th>
					<th>ステータス</th>
				</tr>
				{% for report in reports %}
				<tr>
					<td><input type="radio" name="id" value="{{report['id']}}" required></td>
					<td>{{report['name']}}</td>
					{% if report['submit_date'] == None %}
					<td>-</td>
					{% else %}
					<td>{{report['submit_date']}}</td>
					{% endif %}
					{% if report['approve_date'] == None %}
					<td>-</td>
					{% else %}
					<td>{{report['approve_date']}}</td>
					{% endif %}
					<td>{{report['status']}}</td>
				</tr>
				{% endfor %}
			</table>
		</form>
		<button type="submit" form="form_report_list" formaction="../report_detail_html" formmethod="post">詳細表示</button>
	</article>
{% endblock %}