{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_REPORT_DETAIL')}}</h1>
<article id="report_edit">
	<form id="form_report_detail">
		<p>{{get_text('LABEL_MAIN_REPORT_NAME')}}:<input name="name" type="text" value="{{report['name']}}" required></p>
		<input type="hidden" name="id" value="{{report['id']}}">
		<table>
			<caption>{{get_text('LABEL_MAIN_EXPENSE_ADDED')}}</caption>
			<tr>
				<th>{{get_text('LABEL_MAIN_EXPENSE_TO_DELETE')}}</th>
				<th>{{get_text('LABEL_MAIN_EXPENSE_NAME')}}</th>
				<th>{{get_text('LABEL_MAIN_DATE')}}</th>
				<th>{{get_text('LABEL_MAIN_AMOUNT_MONEY')}}</th>
				<th>{{get_text('LABEL_MAIN_DESCRIPTION')}}</th>
			</tr>
			{% for expense_included in expenses_included %}
			<tr>
				<td><input type="checkbox" name="id_removed" value="{{expense_included['id']}}"></td>
				<td>{{expense_included['name']}}</td>
				<td>{{expense_included['date']}}</td>
				<td>{{get_currency_expression(expense_included['amount'], get_text(expense_included['currency']))}}</td>
				<td>{{expense_included['description']}}</td>
			</tr>
			{% endfor %}
		</table>
		<table>
			<caption>{{get_text('LABEL_MAIN_EXPENSE_TO_ADD')}}</caption>
			<tr>
				<th>{{get_text('LABEL_MAIN_CHOOSE_EXPENSE')}}</th>
				<th>{{get_text('LABEL_MAIN_EXPENSE_NAME')}}</th>
				<th>{{get_text('LABEL_MAIN_DATE')}}</th>
				<th>{{get_text('LABEL_MAIN_AMOUNT_MONEY')}}</th>
				<th>{{get_text('LABEL_MAIN_DESCRIPTION')}}</th>
			</tr>
			{% for expense_open in expenses_open %}
			<tr>
				<td><input type="checkbox" name="id_added" value="{{expense_open['id']}}"></td>
				<td>{{expense_open['name']}}</td>
				<td>{{expense_open['date']}}</td>
				<td>{{get_currency_expression(expense_open['amount'], get_text(expense_open['currency']))}}</td>
				<td>{{expense_open['description']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	<div>
		<button type="submit" form="form_report_detail" formaction="../update_report" formmethod="post">{{get_text('BUTTON_UPDATE')}}</button>
	</div>
	<div>
		<button onclick="location.href='../report_list_html'">{{get_text('BUTTON_BACK_TO_LIST')}}</button>
		<button type="submit" form="form_report_detail" formaction="../submit_report" formmethod="post">{{get_text('BUTTON_SUBMIT_REPORT')}}</button>
	</div>
	<div>
		<script>
			function are_you_sure() {
				result = window.confirm("{{get_text('MSG_CONFIRM_DELETE')}}");
				if (result) {
					form_report = document.getElementById("form_report_detail");
					form_report.action="../delete_report";
					form_report.method="post";
					form_report.submit();
				}
			}
		</script>
		<button onclick="are_you_sure();">{{get_text('BUTTON_DELETE')}}</button>
	</div>
</article>
{% endblock %}