{% extends "common/framework.html" %}
{% block body %}
<h1>{{get_text('TITLE_REPORT_LIST')}}</h1>
<article id="report_list">
	<button class="button_motion" id="button_create_report" onclick="location.href='../report_new_html'">
		<span>{{get_text('BUTTON_NEW_REPORT')}}</span>
	</button>
	<form id="form_report_list">
		<table>
			<tr>
				<th></th>
				<th>{{get_text('LABEL_MAIN_REPORT_NAME')}}</th>
				<th>{{get_text('LABEL_MAIN_SUBMITTED_DATE')}}</th>
				<th>{{get_text('LABEL_MAIN_APPROVED_DATE')}}</th>
				<th>{{get_text('LABEL_MAIN_STATUS')}}</th>
			</tr>
			{% for report in reports %}
			<tr>
				<td><input type="radio" name="id" value="{{report['id']}}" required></td>
				<td>{{report['name']}}</td>
				{% if report['submit_date'] == None %}
				<td>-</td>
				{% else %}
				<td>{{report['submit_date']}}</td>
				{% endif %}
				{% if report['approve_date'] == None %}
				<td>-</td>
				{% else %}
				<td>{{report['approve_date']}}</td>
				{% endif %}
				<td>{{get_text(report['status'])}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	<button class="button_motion" id="button_report_detail" type="submit" form="form_report_list" formaction="../report_detail_html" formmethod="post">
		<span>{{get_text('BUTTON_SHOW_DETAIL')}}</span>
	</button>
</article>
{% endblock %}