{% extends "common/framework.html" %}
{% block body %}
	<section id="report_list">
		<form action="../report_new_html" method="post">
			<input type="submit" value="新規レポート">
		</form>
		<h2>レポート リスト</h2>
		<form action="../report_edit_html" method="post">
			<table>
				<tr>
					<th></th>
					<th>レポート名</th>
					<th>提出日</th>
					<th>承認日</th>
				</tr>
				{% for report in reports %}
				<tr>
					<td><input type="radio" name="id" value="{{report['id']}}"></td>
					<td>{{report['name']}}</td>
					{% if report['submit_date'] == None %}
					<td>未提出</td>
					{% else %}
					<td>{{report['submit_date']}}</td>
					{% endif %}
					{% if report['approve_date'] == None %}
					<td>未承認</td>
					{% else %}
					<td>{{report['approve_date']}}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>
			<button type="submit">変更</button>
		</form>
	</section>
{% endblock %}