{% extends "common/framework.html" %}
{% block body %}
	<article id="report_new">
		<form id="form_report_new">
			<p>{{get_text('LABEL_MAIN_REPORT_NAME')}}:<input name="name" type="text" required></p>
		</form>
		<button class="button_motion" id="button_create_report" type="submit" form="form_report_new" formaction="../create_report" formmethod="post">
			<span>{{get_text('BUTTON_CREATE')}}</span>
		</button>
		<button class="button_motion" id="button_list_report" onclick="location.href='../report_list_html'">
			<span>{{get_text('BUTTON_BACK_TO_LIST')}}</span>
		</button>
	</article>
{% endblock %}