<article id="user_status">
  <div class="dashboard">
    <div class="widget">
      <h2>{{get_text('STATUS_OPEN')}}</h2>
      <p>{{get_text('LABEL_MAIN_NUM_OF_REPORT')}}:<span id="unsubmitted-report-count">{{inprogress_records[1]}}</span></p>
      <p>{{get_text('LABEL_MAIN_NUM_OF_EXPENSE')}}:<span id="unsubmitted-expense-count">{{inprogress_records[0]}}</span></p>
    </div>
    <div class="widget">
      <h2>{{get_text('STATUS_SUBMITTED')}}</h2>
      <p>{{get_text('LABEL_MAIN_NUM_OF_REPORT')}}:<span id="submitted-report-count">{{submitted_records[1]}}</span></p>
      <p>{{get_text('LABEL_MAIN_NUM_OF_EXPENSE')}}:<span id="submitted-expense-count">{{submitted_records[0]}}</span></p>
    </div>
    <div class="widget">
      <h2>{{get_text('STATUS_APRROVED')}}</h2>
      <p>{{get_text('LABEL_MAIN_NUM_OF_REPORT')}}:<span id="approved-report-count">{{approved_records[1]}}</span></p>
      <p>{{get_text('LABEL_MAIN_NUM_OF_EXPENSE')}}:<span id="approved-expense-count">{{approved_records[0]}}</span></p>
    </div>
</article>